body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #d9ceac;
}
header{
    background-color: white;
    width: 100%;
    clear: both;
    display: table;
}
img{
    width: 100px;
    height: 100px;
     float: 8px;

}
nav{
    float: right;
}
nav ul li{
    list-style: none;
    margin-left: 25px;
    padding: 25px;
    float: left;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li:hover{ 
background-color:#db7671;
border-radius: 20px;

}
li img{
    width: 20px;
    height: 20px;
}


*{
    margin: 0;
    padding: 0%;
}
.desayuno img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.desayuno h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}


.combos img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.combos h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}


.individuales img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.individuales h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}


.postres img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.postres h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}


.bebidas img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.bebidas h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}



div{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: white;
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    text-decoration: none;
}
h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}



a{
    text-decoration: none;
    color: black;
}
.slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .active {
    display: block;
  }
